body {
  height: 100%;
  margin: 10%
}

#drops {
  max-width: 108px;
  max-height: 400px;
}

#farmer {
  max-width: 248px;
  max-height: 330px;
}

#speech {
  max-width: 280px;
  max-height: 80px;
}

#rain {
  display: flex;
  align-items: center;
  justify-content: center;
}
